services:
  minecraft:
    image: itzg/minecraft-server:java21-alpine
    restart: always
    ports:
      - 25565:25565
      - 8100:8100 # BlueMap
      - 19565:19565 # Prometheus Exporter
    volumes:
      - ./minecraft-data:/data
      - ./server-icon.png:/data/server-icon.png
      - ./server.properties:/data/server.properties
      - ./config/AdvancedBackups.properties:/data/config/AdvancedBackups.properties
      - ./config/betterdays-common.toml:/data/config/betterdays-common.toml
      - ./config/bluemap/core.conf:/data/config/bluemap/core.conf
      # - ./config/cobblemon/main.json:/data/config/cobblemon/main.json
      # - ./config/cobblemon/starters.json:/data/config/cobblemon/starters.json
      # - ./config/cobbleride/config.json:/data/config/cobbleride/config.json
      - ./config/journeymap/journeymap.server.global.config:/data/journeymap/server/6.0/journeymap.server.global.config
      - ./config/waystones-common.toml:/data/config/waystones-common.toml
    environment:
      UID: 1000
      GID: 1000
      TYPE: NEOFORGE
      NEOFORGE_VERSION: "21.1.218"
      EULA: "TRUE"
      VERSION: "1.21.1"
      MAX_MEMORY: 8G
      MODRINTH_LOADER: neoforge
      MODRINTH_ALLOWED_VERSION_TYPE: alpha
      MODRINTH_DOWNLOAD_DEPENDENCIES: required
      RCON_CMDS_STARTUP: |-
        /gamerule doImmediateRespawn true
        /gamerule doInsomnia false
        /gamerule forgiveDeadPlayers true
        /gamerule keepInventory true
      # Mods that I want that aren't updated yet 
      #  create-big-cannons
      #  create-cobblemon-industrialized
      #  create-slugma
      #  create-steam-n-rails
      #   
      # Meh
      #  cobblemon:Uz1QF4Md
      #  cobblemon-capture-xp:MoNv5bhj
      #  cobblemon-fight-or-flight-reborn:51u1DYkU
      #  cobblemon-integrations:J2XZJowS
      #  cobbreeding:LnSjeUiM
      #  dynamictrees:L4IzopyY
      #  dynamic-trees-biomes-o-plenty:YZ8VDP0n
      #  touhou-little-maid:X9LKPySd
      #  umapyoi:bvdkcOWZ
      #  umapyoi-delight:O4KN0uvn
      #  umapyoi-extra-cards:aD0ZkZDw        
      #  uma_maid:6E08Rzpb
      #
      # Causes issues/doesn't work
      #  cobblemon-whiteout:Zv6g33JZ
      #  immersive-snow:Of60m2yB
      #  multiworld:ibarJFoZ
      #  slice-and-dice:DwseRoo3 -- https://github.com/PssbleTrngle/SliceAndDice/issues/252
      MODS: |-
        https://github.com/cpburnz/minecraft-prometheus-exporter/releases/download/1.21.1-neoforge-1.2.1/Prometheus-Exporter-1.21.1-neoforge-1.2.1.jar
      MODRINTH_PROJECTS: |-
        advanced-backups:ufIaRDFo
        amendments:uo2aSjsU
        bellsandwhistles:w0mifib8
        betterdays:O3sUSfWA
        bluemap:8iJcPOHJ
        biomes-o-plenty:8vIRXPpR
        chalk-mod:IttdMTXB
        copycats:kecZ0sl7
        create:n7NADxiG
        create-enchantment-industry:RhbACzlM
        create-food:ggrcrZ0n
        create-goggles:Co24W2FL
        create-jetpack:4Ndp4d21
        create-power-loader:ydVSjzJR
        explorers-compass:EpWAw9bz
        exposure:WYaaE1QE
        exposure-catalog:OOrLeZEH
        exposure-polaroid:ApvtFYak
        farmers-delight:opCbq7uB
        gears-n-kinetics:qr9hMBnj
        inventory-tweaks-refoxed:tcTciTmQ
        jade:VGRMP69T
        jei:YAcQ6elZ
        journeymap:3AZpZoxN
        kotlin-for-forge:pp2cY80Q
        natures-compass:AqEmYPpi
        not-interested:IWvl2m8o
        polymorph:VEburL70
        sdlink:VADIv5pg
        serene-seasons:SPj5bJoM
        snow-real-magic:bRJ7ymMR
        supplementaries:Q3zTcprv
        waystones:f4A1aY3t
    stdin_open: true
    tty: true
  caddy:
    image: caddy:2.8.4-alpine
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - $HOME/services/caddy/caddy-data:/data
      - $HOME/services/caddy/caddy-config:/config
      - ./Caddyfile:/etc/caddy/Caddyfile
